.vscode/
.github/
.git/
**/.gitignore
#
.devcontainer/
.vscode/
#
_cfgs/
bin/
dist/
vendor/
charts/
docs/
examples/
hack/
Dockerfile

# other
*.md
*.yml
*.zip
*.sql
/*.yaml/

# cosign
/cosign.key
/cosign.pub
