---
apiVersion: karpenter.proxmox.sinextra.dev/v1alpha1
kind: ProxmoxUnmanagedTemplate
metadata:
  name: default
spec:
  templateName: talos
  # tags:
  #   - talos
  #   - talos-k8s-proxmox
---
apiVersion: karpenter.proxmox.sinextra.dev/v1alpha1
kind: ProxmoxTemplate
metadata:
  name: default
spec:
  sourceImage:
    # url: https://factory.talos.dev/image/14e9b0100f05654bedf19b92313cdc224cbff52879193d24f3741f1da4a3cbb1/v1.11.5/nocloud-amd64.raw.xz
    # imageName: nocloud-amd64.raw
    url: https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img
    imageName: ubuntu-amd64.qcow2
  storageIDs:
    - local
    - system
  machine: "pc"
  agent:
    enabled: true
  vga:
    type: serial0
  network:
    - name: net0
      bridge: vmbr0
      firewall: true
      dnsServers:
        - 2001:4860:4860::8888
    - name: net1
      bridge: vmbr1
      mtu: 1400
      address4: "172.16.0.0/24"
      address6: "fd60:172:16::/64"
      dnsServers:
        - 1.1.1.1
  # pciDevices:
  #   - mapping: network
  tags:
    - talos-k8s-proxmox
    - karpenter
