[Unit]
Description=Proxmox Scheduler Daemon
Documentation=https://github.com/sergelogvinov/karpenter-provider-proxmox
ConditionPathExists=/usr/sbin/proxmox-scheduler
Requires=pvedaemon.service
After=pve-cluster.service pvedaemon.service

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=-/etc/default/proxmox-scheduler
ExecStart=/usr/sbin/proxmox-scheduler $EXTRA_ARGS
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=proxmox-scheduler

# Security settings
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelModules=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
RestrictRealtime=yes
ReadWritePaths=/run/lock/ /etc/pve/nodes/ /var/log/pve/

[Install]
WantedBy=multi-user.target
